extends ./layout/index

block contenido

	main.container.mt-5
		.row
			.col-md-5
				img(src="img/soldador_nosotros.jpg",alt="imagen sobre nosotros",class="img-fluid")
			.col-md-7
				h1 #{pagina}
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur aliquet sem eu ipsum fringilla tincidunt sed id purus. Nunc feugiat convallis metus, id blandit sem laoreet id. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ullamcorper mi quis urna posuere iaculis. Integer in arcu et leo feugiat varius. Nulla magna neque, ornare nec felis id, posuere feugiat lorem. Vivamus non quam id sapien egestas suscipit quis eu tellus. Maecenas gravida consectetur ante, vel mollis arcu auctor a. Morbi scelerisque consectetur nisi a placerat. Maecenas hendrerit fermentum orci, nec elementum odio blandit eu.

				p Cras at dolor varius, viverra dui in, vulputate odio. Praesent nec lacus sit amet ligula sodales scelerisque quis dignissim odio. Sed finibus massa sed luctus faucibus. Aliquam nec tortor mi. Donec imperdiet metus quis pellentesque pharetra. Curabitur sed sollicitudin nunc. Maecenas finibus quam fermentum, pellentesque nisi eu, facilisis nibh. Donec ullamcorper massa ipsum, ultricies consequat tortor gravida et. Proin vel accumsan augue. Integer volutpat, tortor tempor finibus faucibus, magna ante ultricies nulla, ut elementum erat dolor et erat. Nunc tempor consectetur ex vitae sodales. Nam id vestibulum sem, sit amet auctor arcu. Nullam dignissim in diam non interdum. Proin suscipit, leo nec luctus imperdiet, quam est gravida velit, eget ornare lectus velit sed leo. Aenean ut nibh posuere ipsum interdum fringilla nec auctor risus. Sed sodales ullamcorper risus, a tristique elit scelerisque auctor.

				p Aenean ipsum sapien, ultricies vel vestibulum et, fermentum sit amet libero. Fusce et suscipit lectus, sed convallis turpis. Fusce eu tempor magna. 

	.listado-iconos
		.container.mt-5.py-5.text-center
			.row
				.col-md-4
					img(src="img/icono_seguridad.svg",alt="icono seguridad", class="img-fluid mb-4")
					h2.mb-4 Seguridad
					p Aenean ipsum sapien, ultricies vel vestibulum et, fermentum sit amet libero. Fusce et suscipit lectus, sed convallis turpis. Fusce eu tempor magna.
				
				.col-md-4
					img(src="img/icono_compromiso.svg",alt="icono compromiso",class="img-fluid- mb-4")
					h2.mb-4 Compromiso
					p Aenean ipsum sapien, ultricies vel vestibulum et, fermentum sit amet libero. Fusce et suscipit lectus, sed convallis turpis. Fusce eu tempor magna.
				.col-md-4
					img(src="img/icono_organizacion.svg",alt="icono organizacion",class="img-fluid mb-4")
					h2.mb-4 Organizacion
					Aenean ipsum sapien, ultricies vel vestibulum et, fermentum sit amet libero. Fusce et suscipit lectus, sed convallis turpis. Fusce eu tempor magna.

